<div class="container">
  <div
    id="signup-form"
    class="position-absolute top-50 start-50 translate-middle card p-10 bg-light"
  >

    <form action="/signup" method="POST">
      <h3 class="text-center">Sign Up</h3>
      {{! USERNAME FORM }}
      <div class="row g-3 align-items-center mb-3">
        <div class="col-3">
          <label for="inputusername" class="col-form-label">Username:</label>
        </div>
        <div class="col-auto">
          <input
            type="username"
            name="username"
            id="inputusername"
            class="form-control"
            aria-describedby="passwordHelpInline"
            placeholder="davechapelle"
          />
        </div>
        <div class="col-auto">
          {{!-- <span id="usernameHelpInline" class="form-text">
            username help line
          </span> --}}
        </div>
      </div>

      {{! EMAIL FORM }}
      <div class="row g-3 align-items-center mb-3">
        <div class="col-3">
          <label for="inputemail" class="col-form-label">Email Adress</label>
        </div>
        <div class="col-auto">
          <input
            type="email"
            name="email"
            id="inputemail"
            class="form-control"
            aria-describedby="passwordHelpInline"
            placeholder="dave@chapelle.com"
          />
        </div>
      </div>

      {{! PASSWORD FORM  }}
      <div class="row g-3 align-items-center mb-3">
        <div class="col-3">
          <label for="inputPassword6" class="col-form-label">Password</label>
        </div>
        <div class="col-auto">
          <input
            type="password"
            name="password"
            id="inputPassword6"
            class="form-control"
            aria-describedby="passwordHelpInline"
            placeholder="*********"
          />
        </div>
        <div class="col-auto">
          <span id="passwordHelpInline" class="form-text">
            Must be 8-20 characters long.
          </span>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-secondary" type="submit">
          Sign Up</button>
      </div>

      {{#if errorMessage}}
        <p style="color: red;" class="error">{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>

</div>