<h2>Create a new comment</h2>

<form action="/comment/create" method="POST">
  <label> Title:
    <input type="text" name="title" />
  </label>
  <br>
   <label for="author-select"> Created by:
    <select name="author">
      <option disable selected value=""></option>
      {{#each foundUser}}
        <option value="{{foundUser._id}}"> {{foundUser.username}} </option>
      {{/each}}
    </select>
  </label>
  <br>
  <label for="dish-select"> Dish:
    <select name="dish">
      <option disable selected value=""></option>
      {{#each foundMeal}}
        <option value="{{foundMeal._id}}"> {{foundMeal.name}} </option>
      {{/each}}
    </select>
  </label>
  <br>
  <label> Content:
    <textarea type="text" name="content"> </textarea>
  </label>

  <button type="submit"> Create comment </button>
</form>