<div class="bg-concrete-fix">
  <div class="container py-3">
    <h2 class="text-center mb-5">About Us</h2>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Our Journey
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            At SavorEats Bistro, our journey began with a simple yet profound
            vision – to create a haven for food enthusiasts, a place where
            flavors come alive, and memories are made. Established in 2023, we
            embarked on this culinary adventure with the aim of offering a
            unique blend of delectable cuisine, inviting ambiance, and
            impeccable service.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Our Philosophy - Culinary Excellence
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We believe in the artistry of food. Our culinary team is dedicated
            to crafting dishes that tantalize the taste buds and celebrate the
            finest ingredients. From farm-fresh produce to premium cuts of meat,
            we source only the best to ensure every bite is a culinary delight.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Warm Hospitality
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Hospitality is at the heart of everything we do. From the moment you
            step through our doors, our friendly and attentive staff are here to
            make you feel at home. We take pride in creating an atmosphere where
            every guest is not just a patron but a welcomed member of our
            extended family.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Sustainable Practices
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Beyond the kitchen, we are committed to sustainability. We recognize
            the importance of ethical sourcing and eco-friendly practices. From
            reducing waste to supporting local farmers, we strive to make
            choices that positively impact both our community and the planet.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Our Ambiance
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            SavorEats Bistro is more than just a place to eat; it’s an
            experience. Our thoughtfully designed space reflects our commitment
            to aesthetics and comfort. Whether you’re here for a romantic
            dinner, a family celebration, or a casual gathering with friends,
            our ambiance sets the stage for memorable moments.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            Community Engagement
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          aria-labelledby="headingSix"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We are proud to be an active part of the Berlin community. Through
            various initiatives, we support local causes, contribute to
            charitable events, and collaborate with neighboring businesses. It’s
            our way of giving back to the community that has embraced us so
            warmly.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            Your Feedback Matters
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          aria-labelledby="headingSeven"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            The experiences of our guests shape our journey. We value your
            feedback and continually strive to improve. Feel free to share your
            thoughts with us, either in person or through our online channels.
            Your insights help us grow and enhance the SavorEats Bistro
            experience. Thank you for being a part of our story. We look forward
            to serving you and creating many more delightful moments together.
          </div>
        </div>
      </div>
    </div>

  <h4 class="text-center mt-5 ">

      Bon Appétit!
      <br />
      Your SavorEats Bistro
    </h4>

  </div>
</div>