{{! <div class="text-warning">
    <h2>dasjkdadauhdkasuhdau</h2>
</div> }}

<img class="bg-img" src="/images/background1.jpg" alt="" />
<div class="text-light container text-center pt-5">
  <h1>
    Welcome to Restorant Page
  </h1>
  <h5>Let's eat !! Discover our great food options</p>
  <button class="btn-homepage"><a href="/menu" class="u-0 text-light">Go to menu</a></button>
</div>