<img class="bg-img" src="/images/background4.jpg" alt="background_image" />

<div class="position-absolute top-50 start-50 translate-middle">
  <div class="text-light container text-center">
    <h1>
      Welcome to SavorEats Bistro</h1><h5>
      Where culinary excellence meets warm hospitality.
      <br />
      Our story is one of passion, dedication, and a commitment to delivering an
      exceptional dining experience to our cherished guests.</h5>
    <button class="btn-homepage"><a href="/menu" class="u-0 text-light">Go to
        menu</a></button>
  </div>
</div>