<h2>MENU</h2>

<div class="row row-cols-2 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="/images/spaghettiTomato.jpg"
        class="card-img-top"
        alt="Spaghetti with tomato sauce"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Spaghetti with tomato sauce</h5>
        <p class="card-text">Widely used in Italian-American cuisine, it is
          known as alla marinara in Italy, where it is typically made with
          tomatoes, basil, olive oil, garlic and oregano, but also sometimes
          olives, capers, and salted anchovies. It is used for spaghetti and
          vermicelli, but also with meat or fish. Marinara sauce.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-primary">View Meal</a>
        <a href="#" class="btn btn-primary">Order Meal</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card h-100">
      <img
        src="/images/spaghettiBolognese.jpg"
        class="card-img-top"
        alt="Spaghetti Bolognese"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Spaghetti Bolognese</h5>
        <p class="card-text">Bolognese sauce known in Italian as ragù alla
          bolognese is a meat-based sauce in Italian cuisine, typical of the
          city of Bologna. It is customarily used to dress tagliatelle al ragù
          and to prepare lasagne alla bolognese.</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-primary">View Meal</a>
      </div>
    </div>
  </div>

   <div class="col">
    <div class="card h-100">
      <img
        src="/images/pasta.jpg"
        class="card-img-top"
        alt="Spaghetti Bolognese"
      />
      <div class="card-body text-center">
        <h5 class="card-title">Pasta</h5>
        <p class="card-text">Pasta is a type of food typically made from an unleavened dough of wheat flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by boiling or baking. Rice flour, or legumes such as beans or lentils, are sometimes used in place of wheat flour to yield a different taste and texture, or as a gluten-free alternative. Pasta is a staple food of Italian cuisine.[1][2]</p>
      </div>
      <div class="card-footer text-center">
        <a href="#" class="btn btn-primary">View Pasta meals</a>
      </div>
    </div>
  </div>
</div>